@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* app.js */
/* **************************************************** */

html {
  background-color: #e5e5e5;
}

.body {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
}
.navbar-container{
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1;
}

.margin-body{
  margin-top: 150px;
}

.navbar {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid lightgray;
  list-style-type: none;
  padding: 40px 0;
  text-decoration: none;
  font-size: 23px;
  font-family: "Roboto", sans-serif;
  height: 125px;
}

.links-container,
.logo-container {
  display: flex;
  justify-content: center;
}

.centered {
  align-self: center;
  text-align: center;
  position: relative;
}

.cyf-logo {
  height: 90px;
}

.link-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #596275;
  left: 321px;
  top: 1114px;
  box-sizing: border-box;
  width: fit-content;
  font-weight: 700;
  padding: 0 1rem;
  font-size: 19px;
  line-height: 1.5;
  border-radius: 0.3rem;
  margin: 2.5%;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  height: 45px;
}

.link-button:hover {
  color: #000000;
}

.input {
  padding: 10px;
  border: none;
  border-radius: 4px;
  outline: none;
  width: 100%;
}

/* Mentors */
/* **************************************************** */

.select-container {
  display: flex;
  justify-content: flex-start;
}

.select-input {
  align-self: flex-start;
  padding-left: 0px;
}

.card {
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12),
    0px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow-wrap: break-word;
}

.select-container {
  align-items: flex-start;
  justify-content: flex-start;
}

.card-button {
  margin: 0 0 8px 0;
  align-self: flex-end;
}

.quiz-questions {
  background-color: #eeeeee;
  margin: 20px 0;
  height: 650px;
  overflow:scroll;
  display: block;
}

.quiz-handler {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin: 20px 0;
  background-color: #e5e5e5;
}

.card-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
  align-items: flex-start;
  height: 650px;
  overflow:scroll;
  display: block;
}

.answer {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.6);
  mix-blend-mode: normal;
}

.question {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  justify-content: space-evenly;
}

.code {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  justify-content: space-evenly;
}
.form-container{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.input-student-name{
  padding: 5px;
  border: none;
  border-radius: 4px;
  outline: none;
}
.form-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 65px;
  text-align: center;
  color: #757575;
}

.quiz-selection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
}

.question-elements {
  padding: 5px 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Students */
/* **************************************************** */

.survey-form {
  background-color: #eeeeee;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formPage{
  justify-items: center;
  justify-content: center;
}
/* Message */
/* **************************************************** */

.filterButtons {
  padding-left: 30px;
}

.message-container {
  position: fixed;
  width: 30%;
  padding: 10px;
  background-color: rgba(255, 255, 255);
  border: 1px solid rgb(4, 199, 4);
  margin-bottom: 5px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  height: fit-content;
  min-height: 200px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  z-index: 1;
  opacity: 0.96;
  border-radius: 5px;
}

.close-container {
  width: 95%;
  background-color: rgba(4, 199, 4, 0.01);
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-top: 20px;
}

.close-message {
  width: 40px;
  height: 30px;
  border: 1px solid rgb(4, 199, 4);
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  position: absolute;
  cursor: pointer;
  padding: 5px;
}

/* Results */
/* **************************************************** */

.result-handler {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.quiz-result-handler {
  padding: 10px 0;
  margin: 10px 0;
}

.select-result {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.attempt-handler-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.current-attempt-handler {
  width: 40%;
}

.attempt-buttons-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.attempt-handler {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-align {
  margin: 60px 0 0 30px;
}

.tables-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.table-score {
  font-size: 16px;
  background-color: #ffffff;
  width: 100%;
}

.scroll-table{
  max-height: 650px;
  overflow:scroll;
  display: block;
}

tr {
  color: #5b5757;
}

td,
th {
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-head {
  background-color: #d2d2d2;
  font-weight: bold;
}

.table-body {
  background-color: #ffffff;
}

.score-row {
  cursor: pointer;
}

.quizez {
  margin: 5vh;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0px;
  font-size: 16px;
  min-height: 100%;
  margin-top: 125px;
}

.correct {
  background-color: #89ff9c;
}

.incorrect {
  background-color: #fa7f74;
}

.unknown {
  background-color: #d6edff;
}

.results-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
}

.no-border {
  border: none;
}

/* New Question */
/* **************************************************** */

.text-area {
  width: 80%;
  height: 100px;
  margin:3%;
}

.form-element {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #eeeeee;
  display: flex;
margin-left:15%;
  padding-left:3%;
}
.tagField{
  align-self:flex-start;
  margin-bottom:50%;
}

.tagField {
  margin: 3%;
  margin-left:-15%;
  border-color: #bdbdbd;
}

.text-area {
  align-self: center;
}

.formLeftAlign {
  align-items: flex-start;
}
.checkB{
  margin:15px;
}

.backGroundImage{
  width: 100%;
  height: auto;
}

.intro-text{
  position: absolute; top: 25%; width: 30%; 
  margin-left: 34%;
} 
.students-intro-text{
  font-weight: 900;
  color: #942e74;
}
.quiz-time{
  position: absolute; top: 5%;
  margin-left: 37%;
  color: #BE90D4;
  font-weight: bold;
  font-size: 60px;
  font-stretch: extra-expanded;
}

.answer-form{
  background-color: #ffff;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  line-height: 20px;
}

.radio-form{
 transform: scale(1.5);
vertical-align: middle;
margin-top: -25px;
}

.quistion-form{
  margin-top: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}